.editState .btn2 {
  left: 350px;
  background-color: rgb(26, 243, 228);
}
.weatherDiv {
  left: 360px;
}
.home-container .content .showDiary {
  display: none;
}
.home-container .content .chooesDiary {
  width: 100%;
  clear: both;
}
.input{
  line-height: 41px;
}
.input-container .lineBox .line{
  height: 30px;
}