
.control{
    display: flex;
    justify-content: center;
    align-items: center;
    .col_left{
        span{
            display: none;
        }
        height: 100%;
        flex-grow: 1;
        justify-content: space-between;
        display: flex;
        justify-content: center;
        align-items: center;
        .startTime{
            align-self: self-end;
            // justify-self: flex-end;
        }

    }
    .col_center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 2;
        flex-direction: column;
        .linear{
            width: 100%;
        }
        .pause{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .col_right{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .endTime{
            align-self: self-end;
        }
        .lyric{
            font-size:28px;
        }
        .textSet{
            display: none;
        }
    }
}