.navwindow {
  overflow: auto;
}
div.nav_cycontent .navcard {
  margin-left: 8%;
}
div.box {
  width: 84% !important;
}
.box .site-card-tag-right3{
  right: -29px;
}
.box:hover .site-card-tag-right3 {
  right: -95px;
}